* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
#logo{
  align-items:flex-start;
  padding-left: 0%;
  
}

ul {
  list-style: none;
}

body {
  background-image: url(fundoprog.jpg);
  
}

 .principal .explica {
  text-align: justify;
  color:black;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  
  
 }

body * {
  font-family: "Roboto", sans-serif;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
}

header {
  padding: 50px 0;
  display: flex;
  justify-content:right;
  align-items: center;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 32px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.card {
  padding: 32px 23px;
  text-align: center;
  background: #0b013b;
  border-bottom: 2px solid hsl(246, 92%, 62%);
  border-radius: 6px;
  text-transform: uppercase;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid #156e74;
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  color: #43f79d;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 270px;
}
.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  border-top: 1px solid #195bbd;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #0b0bc5;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

